@page
@model IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Dashboard";
}
@Html.AntiForgeryToken()
<div>
    <div class="dropdown-menu dropdown-menu-sm dropdown-menu-dark" id="server-context-menu">
        <button class="dropdown-item" id="context-server-start">Start</button>
        <button class="dropdown-item" id="context-server-stop">Stop</button>
        <button class="dropdown-item" id="context-server-restart">Restart</button>
        <hr class="dropdown-divider">
        <button class="dropdown-item" id="context-server-backup">Backup</button>
        <button class="dropdown-item" id="context-server-restore">Restore</button>
        <button class="dropdown-item" id="context-server-configure">Configure</button>
        <button class="dropdown-item btn-link btn-danger" id="context-server-remove">Remove</button>
    </div>
    <div class="dropdown-menu dropdown-menu-sm dropdown-menu-dark" id="player-context-menu">
        <div class="dropdown dropend">
            <button class="dropdown-item dropdown-toggle" aria-labelledby="player-context-whitelist-menu" data-bs-toggle="dropdown" aria-expanded="false" id="context-player-whitelist">Whitelist</button>
            <div class="dropdown-menu dropdown-menu-sm dropdown-menu-dark" id="player-context-whitelist-menu">
                <button class="dropdown-item" id="context-player-whitelist-add">Add</button>
                <button class="dropdown-item" id="context-player-whitelist-remove">Remove</button>
            </div>
        </div>
        <div class="dropdown dropend">
            <button class="dropdown-item dropdown-toggle" aria-labelledby="player-context-permissions-menu" data-bs-toggle="dropdown" aria-expanded="false" id="context-player-permissions">Permissions</button>
            <div class="dropdown-menu dropdown-menu-sm dropdown-menu-dark" id="player-context-permissions-menu">
                <button class="dropdown-item" id="context-player-permissions-member">Member</button>
                <button class="dropdown-item" id="context-player-permissions-operator">Operator</button>
            </div>
        </div>
        <hr class="dropdown-divider">
        <button class="dropdown-item" id="context-player-kick">Kick</button>
    </div>
    <h3 class="display-6 text-center">Dashboard</h3>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <a asp-page="/ManageServer" asp-route-createNew=true class="btn btn-dark float-end">Add Server</a>
                    <h4>Servers</h4>
                </div>
                <div class="card-body server-list">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Port</th>
                                <th>Version</th>
                                <th>Players</th>
                                <th>Online</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var server in Model.Servers)
                            {
                                var online = Model.ServerInstances.Any(x => x.Path == server.Path);
                                <tr data-server-path="@server.Path" class="server-row">
                                    <td><img class="server-icon" src="https://www.minecraft.net/etc.clientlibs/minecraft/clientlibs/main/resources/favicon.ico" /> @server.Options.Name</td>
                                    <td>@server.Options.Port</td>
                                    <td>@server.Version</td>
                                    <td id="server-player-count-@server.Path">@server.Players.Where(x => x.Online).Count() / @server.Options.MaxPlayers</td>
                                    <td id="server-status-@server.Path" class="server-status" data-server-uptime="@server.LastStarted">@(online ? $"Online" : "Offline")</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    @foreach (var server in Model.Servers)
    {
        var instance = Model.ServerInstances.FirstOrDefault(x => x.Path == server.Path);
        var online = instance != null;
        <br />
        <div id="server-details-@server.Path" class="server-details" style="display: none;">
            <div class="row">
                <div class="col-md-4 col-sm-12 col-12" style="padding-bottom: 20px;">
                    <div class="card">
                        <div class="card-header">
                            <h5>@server.Options.Name</h5>
                        </div>
                        <div class="card-body player-list">
                            <div id="players-target-@server.Path">
                                <table class="table table-responsive table-striped">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Last Seen</th>
                                        </tr>
                                    </thead>
                                    <tbody id="server-player-list-@server.Path">
                                        @foreach (var player in server.Players)
                                        {
                                            var lastSeen = player.Online ? "Now" 
                                                : player.LastSeen?.ToString("MM/dd/yyyy") == DateTime.Now.ToString("MM/dd/yyyy") ? player.LastSeen?.ToString("hh:mm:ss tt") 
                                                : player.LastSeen?.ToString("MM/dd/yyyy hh:mm tt");
                                            <tr class="player-row" data-player-xuid="@player.XUID" data-player-name="@player.Name" data-server-path="@server.Path">
                                                <td>@player.Name</td>
                                                <td>@lastSeen</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-sm-12 col-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Console</h5>
                        </div>
                        <div class="card-body">
                            <ul id="console-window-@server.Path" class="console-content list-group">
                                @{
                                    if (online && instance != null)
                                    {
                                        foreach (var logEntry in instance.ConsoleOutput)
                                        {
                                            var timestamp = "";
                                            var log = logEntry;
                                            if (logEntry.StartsWith("[") && logEntry.Contains("]")){
                                                timestamp = logEntry.Split(']')[0] + "]";
                                                log = logEntry.Replace(timestamp, "").Trim();
                                            }
                                            
                                            <li class="console-line list-group-item" data-bs-toggle="tooltip" data-bs-placement="top" title="@timestamp">
                                                <span class="console-line-content">@log</span>
                                            </li>
                                        }
                                    }
                                }
                            </ul>
                            <div class="input-group">
                                <div class="dropend">
                                    <div class="btn btn-secondary dropdown-toggle" 
                                        aria-labelledby="server-command-menu" 
                                        data-bs-toggle="dropdown" 
                                        aria-expanded="false" 
                                        id="server-command-menu-btn" 
                                        data-bs-auto-close="outside"
                                        disabled="@(!online)">
                                        /
                                    </div>
                                    <div class="dropdown-menu dropdown-menu-sm dropdown-menu-dark" id="server-command-menu">

                                        <!-- loop through commands -->

                                        @foreach (var baseCommand in Model.Commands)
                                        {
                                            
                                            <div class="dropend">
                                                <div class="dropdown-item dropdown-toggle" 
                                                    aria-labelledby="server-command-@baseCommand.Name"
                                                    data-bs-toggle="dropdown"
                                                    aria-expanded="false"
                                                    data-bs-auto-close="outside">
                                                    @baseCommand.Name    
                                                </div>
                                                <ul class="dropdown-menu dropdown-menu-sm dropdown-menu-dark" id="server-command-@baseCommand.Name">
                                                    @if (baseCommand.Usage.Contains("<target>"))
                                                    {
                                                        <div class="dropend">
                                                            <!-- get online users -->
                                                            @if(!server.Players.Any(x => x.Online)){
                                                                <li class="dropdown-item disabled">No players online</li>
                                                            }
                                                            @foreach (var player in server.Players)
                                                            {
                                                                <li class="dropdown-item dropdown-toggle" 
                                                                    aria-labelledby="server-command-@baseCommand.Name-@player.XUID"
                                                                    data-bs-toggle="dropdown"
                                                                    aria-expanded="false"
                                                                    data-bs-auto-close="outside"
                                                                    data-player-name="@player.Name"
                                                                    disabled="@(!player.Online)">
                                                                    @player.Name
                                                                </li>
                                                                <ul class="dropdown-menu dropdown-menu-sm dropdown-menu-dark" id="server-command-@baseCommand.Name-@player.XUID">
                                                                    @if (baseCommand is BDSManager.WebUI.Models.MinecraftGiveCommandModel giveCommand)
                                                                    {
                                                                        <div class="dropdown items-dropdown">
                                                                            <input type="text" class="form-control server-command-give-item-search" placeholder="Search" />
                                                                            <!-- get items -->
                                                                            @foreach (var item in giveCommand.Items)
                                                                            {
                                                                                <li class="dropdown-item dropdown-toggle give-item" 
                                                                                    aria-labelledby="server-command-@baseCommand.Name-@player.XUID-@item.IDName"
                                                                                    data-bs-toggle="dropdown"
                                                                                    aria-expanded="false"
                                                                                    data-bs-auto-close="outside"
                                                                                    data-item-id-name="@item.IDName">
                                                                                    <img class="item-image" src="/images/@item.Image" alt="@item.Name" />@item.Name
                                                                                </li>
                                                                                <ul class="dropdown-menu dropdown-menu-sm dropdown-menu-dark" id="server-command-@baseCommand.Name-@player.XUID-@item.IDName">
                                                                                    @foreach(var amount in giveCommand.Amounts)
                                                                                    {
                                                                                        <li class="dropdown-item" data-server-path="@server.Path" data-player-name="@player.Name" data-item-id-name="@item.IDName" data-item-amount="1" onclick="giveCommand(this)">@amount</li>
                                                                                    }
                                                                                </ul>
                                                                            }
                                                                        </div>
                                                                    }

                                                                    @if (baseCommand is BDSManager.WebUI.Models.MinecraftTeleportCommandModel teleportCommand)
                                                                    {
                                                                        <li class="dropdown-item">
                                                                            <div class="input-group" style="min-width: 250px;">
                                                                                <input type="text" class="form-control server-command-tp-player-x" placeholder="x" />
                                                                                <input type="text" class="form-control server-command-tp-player-y" placeholder="y" />
                                                                                <input type="text" class="form-control server-command-tp-player-z" placeholder="z" />
                                                                                <button class="btn btn-outline-dark tp-btn" data-server-path="@server.Path" data-player-name="@player.Name" onclick="tpCommand(this)">go</button>
                                                                            </div>
                                                                        </li>
                                                                        @foreach (var destinationPlayer in server.Players)
                                                                        {
                                                                            //if(destinationPlayer.Name == player.Name) continue;
                                                                            <li class="dropdown-item player-btn" 
                                                                                data-server-path="@server.Path" 
                                                                                onclick="tpCommand(this)"
                                                                                data-player-name="@player.Name"
                                                                                data-destination-player-name="@destinationPlayer.Name"
                                                                                disabled="@(!destinationPlayer.Online)">
                                                                                @destinationPlayer.Name
                                                                            </li>
                                                                        }
                                                                    }

                                                                    @if (baseCommand is BDSManager.WebUI.Models.MinecraftEnchantmentCommandModel enchantmentCommand)
                                                                    {
                                                                        var types = new List<string>();
                                                                        var typeArrays = enchantmentCommand.Enchantments.Select(x => x.ItemTypes);
                                                                        foreach(var typeArray in typeArrays)
                                                                        {
                                                                            types.AddRange(typeArray);
                                                                        }
                                                                        types.Sort();
                                                                        <div class="dropdown enchantment-dropdown">
                                                                            @foreach(var itemType in types.Distinct())
                                                                            {
                                                                                <li class="dropdown-item dropdown-toggle" 
                                                                                    aria-labelledby="server-command-@baseCommand.Name-@player.XUID-@itemType"
                                                                                    data-bs-toggle="dropdown"
                                                                                    aria-expanded="false"
                                                                                    data-bs-auto-close="outside"
                                                                                    data-item-type="@itemType">
                                                                                    @itemType
                                                                                </li>
                                                                                <ul class="dropdown-menu dropdown-menu-sm dropdown-menu-dark" id="server-command-@baseCommand.Name-@player.XUID-@itemType">
                                                                                    @foreach (var enchantment in enchantmentCommand.Enchantments.Where(x => x.ItemTypes.Contains(itemType)))
                                                                                    {
                                                                                        <li class="dropdown-item dropdown-toggle" 
                                                                                            aria-labelledby="server-command-@baseCommand.Name-@player.XUID-@enchantment.Name"
                                                                                            data-bs-toggle="dropdown"
                                                                                            aria-expanded="false"
                                                                                            data-bs-auto-close="outside"
                                                                                            data-enchantment-name="@enchantment.Name">
                                                                                            @enchantment.Name
                                                                                        </li>
                                                                                        <ul class="dropdown-menu dropdown-menu-sm dropdown-menu-dark" id="server-command-@baseCommand.Name-@player.XUID-@enchantment.Name">
                                                                                            @for(var level = 1; level <= enchantment.MaxLevel; level++)
                                                                                            {
                                                                                                <li class="dropdown-item" data-server-path="@server.Path" data-player-name="@player.Name" data-enchantment-id="@enchantment.ID" data-enchantment-level="@level" onclick="enchantmentCommand(this)">@level</li>
                                                                                            }
                                                                                        </ul>
                                                                                    }
                                                                                </ul>

                                                                            }
                                                                        </div>
                                                                    }

                                                                    @if (baseCommand is BDSManager.WebUI.Models.MinecraftEffectCommandModel effectCommand)
                                                                    {
                                                                        <div class="dropdown effect-dropdown">
                                                                            @foreach (var effect in effectCommand.Effects)
                                                                            {
                                                                                <li class="dropdown-item dropdown-toggle" 
                                                                                    aria-labelledby="server-command-@baseCommand.Name-@player.XUID-@effect.Name"
                                                                                    data-bs-toggle="dropdown"
                                                                                    aria-expanded="false"
                                                                                    data-bs-auto-close="outside"
                                                                                    data-effect-name="@effect.Name">
                                                                                    @effect.Name
                                                                                </li>
                                                                                <ul class="dropdown-menu dropdown-menu-sm dropdown-menu-dark" id="server-command-@baseCommand.Name-@player.XUID-@effect.Name">
                                                                                    <div class="input-group">
                                                                                        <input type="text" class="form-control server-command-effect-player-duration" placeholder="duration" />
                                                                                        <input type="text" class="form-control server-command-effect-player-amplifier" placeholder="amplifier" />
                                                                                        <checkbox class="form-check-input server-command-effect-player-hide-particles" />
                                                                                        <button class="btn btn-outline-dark effect-btn" data-server-path="@server.Path" data-player-name="@player.Name" data-effect-id="@effect.ID" onclick="effectCommand(this)">go</button>
                                                                                    </div>
                                                                                </ul>


                                                                            }
                                                                        </div>
                                                                    }
                                                                </ul>
                                                            }
                                                        </div>
                                                    }
                                                    
                                                    @if (baseCommand is BDSManager.WebUI.Models.MinecraftTimeCommandModel timeCommand)
                                                    {
                                                        <div class="dropend">
                                                            @foreach (var arg in timeCommand.Arguments)
                                                            {
                                                                <div class="dropdown-item dropdown-toggle" 
                                                                    aria-labelledby="server-command-@baseCommand-@arg"
                                                                    data-bs-toggle="dropdown"
                                                                    aria-expanded="false"
                                                                    data-bs-auto-close="outside">
                                                                    @arg
                                                                </div>
                                                                <div class="dropdown-menu dropdown-menu-sm dropdown-menu-dark" id="server-command-@baseCommand-@arg">
                                                                    @if (arg == "set")
                                                                    {
                                                                        <li class="dropdown-item">
                                                                            <div class="input-group" style="min-width: 250px;">
                                                                                <input type="text" class="form-control server-command-time-set" placeholder="ticks" />
                                                                                <button class="btn btn-outline-dark time-btn" data-server-path="@server.Path" onclick="timeSetCommand(this)">go</button>
                                                                            </div>
                                                                        </li>
                                                                        @foreach (var time in timeCommand.SetValues)
                                                                        {
                                                                            <li class="dropdown-item" data-server-path="@server.Path" data-time="@time" onclick="timeSetCommand(this)">@time</li>
                                                                        }
                                                                    }

                                                                    @if (arg == "add")
                                                                    {
                                                                        <li class="dropdown-item">
                                                                            <div class="input-group" style="min-width: 250px;">
                                                                                <input type="text" class="form-control server-command-time-add" placeholder="ticks" />
                                                                                <button class="btn btn-outline-dark time-btn" data-server-path="@server.Path" onclick="timeAddCommand(this)">go</button>
                                                                            </div>
                                                                        </li>
                                                                    }

                                                                    @if (arg == "query")
                                                                    {
                                                                        foreach(var query in timeCommand.QueryValues)
                                                                        {
                                                                            <button class="dropdown-item" data-server-path="@server.Path" data-query="@query" onclick="timeQueryCommand(this)">@query</button>
                                                                        }
                                                                    }
                                                                </div>
                                                            }
                                                        </div>
                                                    }

                                                    @if (baseCommand is BDSManager.WebUI.Models.MinecraftWeatherCommandModel weatherCommand)
                                                    {
                                                        <div class="dropend">
                                                            @foreach (var arg in weatherCommand.Arguments)
                                                            {
                                                                <div class="dropdown-item" data-server-path="@server.Path" data-weather="@arg" onclick="weatherSetCommand(this)">@arg</div>
                                                            }
                                                        </div>
                                                    }
                                                </ul>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <input type="text" class="form-control" data-server-path="@server.Path" id="server-command-@server.Path" />
                                <button class="btn btn-secondary" data-server-path="@server.Path" onclick="sendCommandToHub(@server.Path)" disabled="@(!online)">Send</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
